.comicCard{
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border: solid 1px whitesmoke;
    margin: 5px;

    & img{
        width: 80%;
    }
}